/* General Kanbas styling for overall look and feel */

/* Margin and padding */
body {
    margin: 0;
    padding: 0;
}

/* Font style */
body * {
    font-family: Arial, Helvetica, sans-serif;
    color: #6c757d;
}

/*Darker Text*/
.wd-kanbas-darker-text {
    color: #0e0e0e;
}

.wd-kanbas-entire-page-padding {
    padding:10px;
}

.wd-kanbas-screen-building-padding {

}

.wd-kanbas-screen-component-padding {
    padding-left: 15px;
}

.wd-red-txt {
    color: red;
}